export DB_NAME=asyncapi
export API_SERVER_PORT=4000
export API_SERVER_HOST=localhost
export DB_USER=admin
export DB_PASSWORD=secret
export DB_PORT=5434
export DB_PORT_TEST=5435
export DB_HOST=127.0.0.1
export DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/$DB_NAME?sslmode=disable
export ENV=dev
export PROJECT_ROOT=/Users/kirillrabdel/go/asyncapi/migrations
export DATABASE_URL_TEST=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT_TEST}/$DB_NAME?sslmode=disable
export JWT_SECRET=secretkey

export AWS_ACCESS_KEY_ID=dummy
export AWS_SECRET_ACCESS_KEY=dummy
export AWS_DEFAULT_REGION=us-west-2

export SQS_QUEUE=reports-sqs-queue
export S3_BUCKET=api-reports
export S3_LOCALSTACK_ENDPOINT=http://s3.localhost.localstack.cloud:4566

export TF_VAR_aws_secret_key_id=${AWS_ACCESS_KEY_ID}
export TF_VAR_aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}
export TF_VAR_aws_default_region=${AWS_DEFAULT_REGION}
export TF_VAR_sqs_queue=${SQS_QUEUE}
export TF_VAR_s3_bucket=${S3_BUCKET}
export TF_var_s3_localstack_endpoint=${S3_LOCALSTACK_ENDPOINT}


