export DB_NAME=asyncapi
export APISERVER_PORT=4000
export APISERVER_HOST=localhost
export DB_USER=admin
export DB_PASSWORD=secret
export DB_PORT=5434
export DB_PORT_TEST=5435
export DB_HOST=127.0.0.1
export DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/$DB_NAME?sslmode=disable
export ENV=dev
export PROJECT_ROOT=/Users/kirillrabdel/go/asyncapi/migrations
export DATABASE_URL_TEST=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT_TEST}/$DB_NAME?sslmode=disable
